
html, body {
    height: 100%;
}

body {
    margin: 0;
}

.game-area {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

#progress-bar {
    height: 5px;
    background-color: rgba(0,255,0,.3);
    transition: width .5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#game-list {
    width: 300px;
    max-height: 500px;
    float: right;
    overflow-y: auto;
    border: 1px solid #eee;
    margin: 4px;
    padding: 4px;
}

.game-descr {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px;
    cursor: pointer;
    padding: 4px 4px 4px 40px;
}

.game-descr:hover {
    background-color: #eee;
}

.game-descr-name {
    font-weight: bold;
}

.game-area-mini {
    width: 400px;
    height: 300px;
}

.game-area-mini-cont {
    float: left;
    margin: 4px;
    position: relative;
}

.game-winner-mini {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    color: #000;
    padding: 8px;
    margin: 8px;
    top: 0;
    left: 0;
}