
.cb-cell-select {
	background-image: url(res/images/select-target-2d-circular.png);
	border-radius: 50%;
}

.cb-cell-cancel {
	background-image: url(res/images/select-target-2d-circular-cancel.png);
	border-radius: 50%;
}
