.reversi-clicker{
	background-image: url(res/xd-view/select-target-2d.png);
	background-size: contain;	
	cursor:pointer;
}
.reversi-pass-panel-b{
	background-image: url(res/xd-view/pass-dark.png);
	background-size: contain;		
}
.reversi-pass-panel-w{
	background-image: url(res/xd-view/pass-light.png);
	background-size: contain;		
}
